.about {
  background-color: #FCA929;
  width: 100%;
  height: 100%;
  padding: 50px 40px 50px 70px;

  .section-name {
    top: 140px !important;
    left: -60px !important;
    width: 175px !important;
  }

  .about-container {
    height: 100%;
  }

  p {
    color: #000;
  }

  .date {
    font-family: $bold;
    font-size: 19px;
    line-height: 18px;
    margin-bottom: 8px;
  }

  .text {
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 20px;
  }
}

.hobby,
.projects,
.media {
  padding: 40px 50px 40px 70px;
  position: relative;
  height: 100%;
}

.hobby {
  background-color: #bdaee7;
  position: relative;

  .section-name {
    left: -30px !important;
    top: 116px !important;
    width: 125px !important;
  }

  .section-text {
    margin-left: 43px;
    margin-top: 29px;
    margin-bottom: 0;
  }
}

.projects {
  background-color: #48B3FE;

  .section-name {
    top: calc(50% - 11px) !important;
    width: 210px;

    &__scrolled_no-animation {
      z-index: 2;
      right: calc(100% - 140px) !important;
    }
  }

  // .swiper-wrapper {
  //   height: calc(100% - 54px);
  // }

  .widget-row {
    margin-top: 15px;
    max-height: 365px;
    overflow: scroll;
  }
}

.media {
  // padding: 22px 36px 34px 36px;
  background-color: #D000B6;
  height: 100%;
  position: relative;

  .section-name {
    top: unset !important;
    right: calc(100% - 91px) !important;
    bottom: 138px !important;
    left: unset !important;
    color: #000;
    width: auto !important;
  }

  .mobile-vertical-slider {
    .swiper-button-next {
      // bottom: 0;
    }
  }

  h3,
  h6,
  p,
  a {
    color: #fff;
  }

  .container {
    height: 100%;
  }
}

.podcast-row::-webkit-scrollbar {
  display: none;
}

.contacts {

  .contacts-wrapper {
    margin-top: 16px;
    min-height: 70vh;
    color: #fff;
  }

  h3 {
    font-family: $bold;
    font-size: 27px;
    line-height: 26px;
    margin-bottom: 14px;
    padding: 0 20px;
  }

  .img-wrapper {
    margin-bottom: 48px;

    img {
      width: 100%;
    }
  }

  p {
    margin-bottom: 8px;
    padding: 0 20px;
  }

  p,
  a {
    font-size: 16px;
    line-height: 15px;
    font-family: $light;
  }

  a {
    display: inline-block;
    margin-left: 6px;
    color: #fff;
    text-decoration: none;
  }
}

.podcast-single {

  .controls-component {
    margin-top: 32px;
  }

  button {
    background: none;
    border: none;
  }

  .change-podcast {
    padding: 0 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      width: 19px;
    }
  }

  .content {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 73px;

    .title {
      text-align: center;
      font-size: 14px;
      line-height: 13px;
      font-family: $light;
      margin-bottom: 16px;
      text-align: left;
      width: 100%;
    }

    .podcast-banner {
      text-align: center;
      // background-color: #bdaee7;

      img {
        max-width: 100%;
      }
    }
  }

  .text-bottom {
    margin-top: 37px;
    font-size: 16px;
    line-height: 15px;
    font-family: $light;
    padding-left: 33px;
    padding-right: 27px;
  }
}

.single-page {
  color: #000;
  font-family: $light;
  margin-bottom: 80px;

  &-wrapper {
    padding: 22px 35px 80px 32px;
    height: 100%;
    width: 100%;
  }

  .projects-page {
    background-color: #48B3FE;
  }

  .hobby-page {
    background-color: #bdaee7;
  }

  .arrow-btn {
    position: absolute;
    top: 22px;
    right: 35px;
    z-index: 3;
  }

  .poster {
    width: 100%;
    z-index: 2;
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  .title {
    font-size: 20px;
    line-height: 19px;
    margin-bottom: 5px;
    font-family: $bold;
  }

  .subtitle {
    font-size: 14px;
    line-height: 13px;
  }

  .text-wrapper {
    margin-top: 36px;
    height: 80%;
    overflow: hidden;

    p {
      font-size: 19px;
      line-height: 18px;
      margin-bottom: 12px;
    }

    // .swiper {
    //   height: 100%;

    //   .swiper-wrapper {
    //     height: 100%;

    //     .swiper-slide {
    //       height: auto;
    //     }
    //   }
    // }
  }
}

.single-page.desktop {
  display: none;
}

.podcast-single-desktop {
  display: none;
}

.podcast-single-mobile {
  margin-bottom: 96px;
}

@media (min-width: 996px) {
  .single-page.mobile {
    display: none;
  }

  .single-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .single-page.desktop {
    display: block;
    height: 58vh;
    margin-top: 38px;
    margin-bottom: 0;

    .title,
    .subtitle {
      font-family: $light;
    }

    .text {
      margin-bottom: 0;
    }

    .slide-right-gallery {
      // padding-left: 50px;
      overflow: hidden;

      .swiper-button-prev {
        top: 13px;
      }

      .swiper-button-next {
        bottom: 45px;
      }
    }

    .title {
      font-size: 29px;
      line-height: 28px;
    }

    .subtitle {
      font-size: 18px;
      line-height: 17px;
    }

    .wrapper {
      // position: relative;
      display: flex;
      margin: 0 auto;
      padding: 20px;
      height: 100%;
      padding: 0;
    }

    .slide-left {
      width: 240px;
      height: 100%;
      position: relative;
      margin-right: 16px;

      .slide-name {
        position: absolute;
        font-size: 35px;
        line-height: 34px;
        font-family: $bold;
        color: #000;
        width: 125px;
        z-index: 1;

        &__hobby {
          top: calc(50% - 62.5px);
          left: calc(50% - 62.5px);
        }

        &__projects {
          top: calc(50% - 17px);
          left: -4px;
        }
      }

      .slide-image {
        height: 100%;
        display: flex;
        align-items: flex-end;

        img {
          width: 100%;
        }
      }
    }

    .slide-right-gallery {
      width: calc(100% - 240px);
      padding-top: 37px;
      padding-right: 50px;
      padding-bottom: 0;
    }
  }

  .single-page.desktop {
    .content-left {
      display: flex;
      justify-content: flex-end;
      max-width: 240px;

      .slide-name {
        top: calc(50% - 100px);
        left: calc(50% - 62.5px);
      }

      img {
        width: 100%;
      }
    }

    .content-right {
      padding-left: 0px;
      width: 65%;
      background-color: #bdaee7;
      z-index: 2;
    }
  }

  .projects-page {
    background-color: #48B3FE;

    .slide-name {
      top: calc(55px + 25%);
      transform: rotateZ(-90deg);
    }
  }

  .hobby-page {
    background-color: #bdaee7;

    .slide-name {
      top: 173px;
      transform: rotateZ(-90deg) translate(50%);
      left: 25px;
    }
  }

  .podcast-single.podcast-single-mobile {
    display: none;
  }

  .podcast-single-desktop {
    display: block;
  }

  .controls-component {
    margin-top: 16px;
  }
}

@media (max-width: 1200px) {
  .single-page.desktop {
    .text {
      font-size: 14px;
      line-height: 15px;
    }
  }
}