.black-single {
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 40px;
  height: 70vh;
  overflow: scroll;

  .title {
    font-size: 40px;
    line-height: 38px;
    font-family: $bold;
    margin-bottom: 30px;
  }

  .content {
    display: flex;
    height: 100%;
    padding: 32px 0 32px 0;

    .left {
      width: 75%;
      margin-right: 32px;

      .top {
        display: flex;

        .image {
          width: 40%;
          margin-right: 48px;

          img {
            width: 100%;
          }
        }

        .text {
          width: 60%;

          p {
            font-size: 14px;
            line-height: 16px;
            font-family: $light;
          }
        }

        .news-text {
          p {
            &:first-of-type {
              font-family: $bold;
            }
          }
        }

        .media-text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      .bottom {
        margin-top: 48px;

        p {
          font-size: 14px;
          line-height: 16px;
          font-family: $light;
        }
      }
    }

    .right {
      width: calc(30% - 32px);
    }
  }
}