.contacts {

  .contacts-wrapper {
    margin-top: 100px;
    min-height: 70vh;
    color: #fff;
  }

  h3 {
    font-family: $bold;
    font-size: 27px;
    line-height: 26px;
    margin-bottom: 14px;
    padding: 0 20px;
  }

  .img-wrapper {
    margin-bottom: 70px;

    img {
      max-width: 100%;
    }
  }

  p {
    margin-bottom: 8px;
    padding: 0 20px;
  }

  p,
  a {
    font-size: 16px;
    line-height: 15px;
    font-family: $light;
  }

  a {
    display: inline-block;
    margin-left: 6px;
    color: #fff;
    text-decoration: none;
  }
}