.news {
  .news-wrapper {
    position: relative;
    padding-top: 100px;
    min-height: 92vh;
    overflow: visible;

    .news-item-mobile {
      padding: 0 40px;
      margin-bottom: 40px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: #fff !important;
      transform: rotateZ(90deg);

      &::after {
        font-size: 20px;
        font-weight: 900;
      }
    }

    .swiper-button-next {
      bottom: 60px;
      left: calc(50% - 13px);
      top: unset;
    }

    .swiper-button-prev {
      top: 95px;
      left: calc(50% - 13px);
    }
  }

  .single-news {
    height: auto !important;
    padding-top: 92px;
    padding-bottom: 80px;
  }

  .news-list-wrapper {
    height: 100vh;
    padding-top: 115px;
    padding-bottom: 107px;
  }

  .news-item {
    color: #fff;
    opacity: 0;
    transition: all .5s;
    display: block;

    .news-title {
      font-family: $bold;
      font-size: 27px;
      line-height: 26px;
      margin-bottom: 32px;
    }

    .news-img {
      margin-bottom: 32px;

      img {
        width: 100%;
      }
    }

    .news-bold {
      font-family: $bold;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 16px;
    }

    .news-annotation {
      font-family: $regular;
      font-size: 16px;
      line-height: 18px;
      margin-top: 13px;
      margin-bottom: 5px;

      a {
        color: #000;
        text-decoration: underline;
      }
    }

    .dots {
      margin-right: 10px;
      padding: 0;
      color: #fff;
      background: none;
      border: none;
      font-size: 27px;
      line-height: 26px;
      font-family: $bold;
    }
  }
}

.project-single-mobile {
  background-color: #48B3FE;
}

.hobby-single-mobile {
  background-color: #bdaee7;
}

.project-single-mobile,
.hobby-single-mobile {

  .news-item {
    color: #000;
  }
}

.news-item-desktop {
  display: none;
}

@media(min-width: 996px) {
  .news-item-mobile {
    display: none !important;
  }

  .news-item-desktop {
    display: block;
  }

  .news-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    .swiper-button-next,
    .swiper-button-prev {
      transform: rotateZ(0deg) !important;
      top: unset !important;
      bottom: unset !important;

      &::after {
        font-size: 30px !important;
      }
    }

    .swiper-button-next {
      right: -30px !important;
      left: unset !important;
    }

    .swiper-button-prev {
      left: -30px !important;
    }

    .news-item {
      height: fit-content;
      margin-right: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:nth-child(3n + 3) {
        margin-right: 0;
      }

      .news-title {
        font-size: 22px;
        line-height: 23px;
        margin-bottom: 23px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .news-img {
        margin-bottom: 10px;
        height: 166px;

        img {
          height: 100%;
        }
      }
    }
  }

  .single-news {
    min-height: unset !important;
    height: 0 !important;
    display: none;
  }
}

@media(min-width: 1200px) {
  .news-wrapper {
    .news-item {
      .news-img {
        height: 206px;
      }
    }
  }
}


@media(min-width: 1400px) {
  .news-wrapper {
    .news-item {
      .news-img {
        height: 246px;
      }
    }
  }
}