.swiper-button-next,
.swiper-button-prev {

  &::after {
    transition: all .25s;
    font-size: 20px;
    font-weight: 900;
  }

  &:hover {
    color: #000 !important;
  }
}

.vertical-text-slider {
  height: 100%;
  // overflow: hidden;
  position: relative;

  .vertical-text-next,
  .vertical-text-prev {
    transform: rotateZ(90deg);
    color: #fff;

    // &::after {
    //   content: 'next';
    // }
  }

  .vertical-text-prev {
    top: -15px;
    left: calc(50% - 22px);
  }

  .vertical-text-next {
    top: unset;
    bottom: -45px;
    left: calc(50% - 22px);
  }

  .swiper,
  .swiper-wrapper {
    height: 100%;
  }

  .swiper-slide {
    width: 100% !important;
    height: auto;
  }

  &__slide {
    height: 100%;

    .text {
      padding-right: 0;
    }
  }
}

.mobile-vertical-slider {
  max-width: 445px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;

  .container {
    height: 100%;
  }

  .swiper,
  .hobby-slider {
    height: 100%;
    margin: 0;
    width: 100%;

    .d-flex {
      height: 100%;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
    height: 19px;
    width: 9.5px;
    right: unset;
    left: calc(50% - 9.5px);
    transform: rotate(90deg);

    &::after {
      font-size: 20px;
    }
  }

  .swiper-button-next {
    top: unset;
    bottom: -4px;
  }

  .swiper-button-prev {
    top: 30px;
    bottom: unset;
  }

  .swiper-button-disabled {
    transition: all .25s;
    opacity: 0;
  }

  .swiper-scrollbar {
    display: none;
  }

  .swiper-slide {
    opacity: 0;
    transition: all .5s;
    width: 100% !important;
    // display: flex;
    // justify-content: center;
  }

  .image-wrapper {
    height: calc(100% - 52px);
    width: 100%;
    // background-color: #C1C1C1;
    position: relative;
    text-align: center;

    &__text {
      width: 100%;
      position: absolute;
      font-size: 19px;
      line-height: 18px;
      color: #FFFFFF;
      text-align: center;
      word-break: break-all;
      margin: 0;
      top: calc(50% - 9px);
    }

    // &:nth-child(odd) {
    //   margin-right: 13px;
    // }

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

#primarySlider {
  width: 100%;

  .primary-slider-wrapper {
    width: 100%;

    .primary-slider-slide {
      transition: all .35s;
      width: 25%;
      // box-shadow: 2px 0px 10px rgba(0, 0, 0, 1);
    }

    .primary-slider-slide.swiper-slide-active {
      transition: all .35s;
      width: 32%;
      z-index: 10;
    }
  }
}

.inner-section-slider {
  height: 68vh;

  #innerPrimarySlider {
    position: relative;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -50px;
      width: 200vw;
      height: 100%;
      background: radial-gradient(184.77% 147% at 7.37% 55.34%, #000000 0%, #000000 7.37%, #000000 100%);
    }
  }

  .swiper-slide {
    width: 95%;
  }
}

#mediaSlider {
  .swiper-slide {
    width: auto;
    opacity: 0;
    transition: all .5s;
  }
}

.primary-swiper-desktop {
  display: none;
}

.primary-swiper-desktop.showed {
  opacity: 1 !important;
  transition: all .25s;
}

#primarySwiperDesktop {
  top: -200%;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  z-index: 10;

  .swiper-slide {
    width: 95%;
    // max-width: 1950px;
    position: relative;
    overflow: hidden;

    .slide-name {
      transform: rotateZ(-90deg);
      position: absolute;
      font-size: 35px;
      line-height: 34px;
      font-family: $bold;
      color: #000000;
      width: 180px;
    }

    .inactive-content {
      transition: all .25s;
      opacity: 1;
      position: absolute;
      width: 100%;
      top: 25%;
      left: 0;
      padding: 16px;
      display: flex;
      justify-content: space-between;

      .right,
      .left {
        position: relative;
      }

      .right {
        .direction {
          text-align: right;

          svg {
            transform: rotateZ(-180deg);
          }
        }
      }

      .left {
        .slide-name {}
      }

      .slide-name {
        top: 85px;
        left: -55px;
        text-align: right;
        color: rgba(0, 0, 0, 0.31);

      }

      .direction {
        svg {
          width: 14px;

          path {
            stroke: rgba(0, 0, 0, 0.31);
          }
        }
      }
    }

    .active-content {
      position: relative;
      display: flex;
      // opacity: 0;
      transition: all .35s;
      height: 100%;

      &__inactive {
        .right-absolute {
          right: 0 !important;
        }

        .left-absolute {
          left: 0 !important;
        }
      }

      .right-absolute {
        top: 0;
        right: -10%;

        &__content {
          padding-top: 165px !important;

          .direction {
            transform: rotateZ(90deg) !important;
          }
        }
      }

      .left-absolute {
        top: 0;
        left: -10%;
      }

      .left-absolute,
      .right-absolute {
        transition: all .25s;
        width: 3%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        z-index: 3;

        &__content {
          display: flex;
          transform: rotateZ(90deg);
          padding-top: 175px;

          .direction {
            transform: rotateZ(-90deg);

            svg {
              stroke: rgba(0, 0, 0, .31);

              path {
                stroke: rgba(0, 0, 0, .31);
              }
            }

          }

          .slide-name {
            font-size: 25px;
            line-height: 24px;
            text-align: right;
            position: inherit;
            transform: rotateZ(0);
            margin-right: 16px;
            color: rgba(0, 0, 0, .31);
          }
        }
      }

      .slide-left {
        // left: 0;
        // bottom: 0;
        // position: absolute;
        height: 100%;
        width: 33%;
        max-width: 550px;
        margin-right: 16px;

        .relative {
          position: relative;
          height: 100%;
          width: 100%;
        }
      }

      .slide-image {
        height: 100%;
        display: flex;
        align-items: flex-end;

        img {
          // max-width: 100%;
        }
      }

      .slide-right {
        width: 60%;
        max-width: 1400px;
        padding: 50px 25px;
      }

      .slide-right-gallery {
        width: calc(100% - 240px);
        padding: 37px 50px 0 50px;

        .swiper-slide {
          position: relative;
          overflow: hidden;
        }
      }

      .slide-right-media-gallery {
        width: calc(100% - 375px);
        margin-left: auto;
        padding-top: 20px;
        padding-right: 50px;
        padding-bottom: 0;

        .swiper-slide {
          max-height: 245px;
        }
      }
    }

    .section-desktop {
      width: 100%;
    }

    .about-slide {
      background-color: #FCA929;

      .left-absolute,
      .right-absolute {
        background-color: #FCA929;
      }

      .slide-left {
        width: 413px;

        .slide-name {
          bottom: 273.5px;
        }
      }

      .slide-right {
        width: calc(100% - 413px);
        background-color: #FCA929;

        .text-wrap {
          height: 100%;
          display: flex;
          justify-content: space-between;
          background-color: #FCA929;

          .text-col {
            width: calc(50% - 4.5px);

            p {
              color: #000;
            }

            .date {
              font-family: $bold;
              font-size: 19px;
              line-height: 18px;
              margin-bottom: 8px;
            }

            .text {
              margin-top: 0;
              padding-left: 0;
              margin-bottom: 10px;
            }
          }
        }
      }

    }

    .hobby-slide {
      background-color: #bdaee7;

      .left-absolute,
      .right-absolute {
        background-color: #bdaee7;
      }

      .slide-left {
        width: 240px;
        margin-right: 0;

        img {
          width: 100%;
        }

        .slide-name {
          top: calc(50% - 155px);
          left: calc(50% - 89.5px);
        }
      }

      // .slide-right {
      //   width: calc(100% - 240px);
      //   padding-top: 37px;
      //   padding-bottom: 0;
      // }
    }

    .projects-slide {
      background-color: #48B3FE;

      .left-absolute,
      .right-absolute {
        background-color: #48B3FE;
      }

      .slide-left {
        width: 240px;
        position: relative;

        .slide-name {
          top: calc(50% - 17px);
          left: -4px;
        }
      }
    }

    .media-slide {
      background-color: #D000B6;

      .left-absolute,
      .right-absolute {
        background-color: #D000B6;
      }

      .container.d-flex.p-0 {
        position: relative;
      }

      .slide-left {
        width: auto;
        max-width: unset;
        left: -340px;
        position: absolute;

        .slide-name {
          bottom: 274.5px;
          z-index: 1;
          right: -4.5px;
        }

        .slide-image {
          display: block;

          img {
            height: 100%;
          }
        }
      }
    }

    &:first-of-type {
      .section-desktop {}
    }

    &:nth-of-type(2) {
      .section-desktop {}
    }

    &:nth-of-type(3) {
      .section-desktop {}
    }

    &:nth-of-type(4) {
      .section-desktop {}
    }
  }

  .swiper-slide-active {
    .active-content {
      opacity: 1;
      transition: all .25s;
    }

    .inactive-content {
      opacity: 0;
    }
  }
}

.desktop-vertical-slider {
  height: 100%;
  margin-left: auto;
  padding-bottom: 0;
  position: relative;
  // max-width: 812px;

  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
    position: absolute;
    right: -45px;
    transform: rotateZ(90deg);

    &::after {
      font-size: 25px;
    }
  }

  .swiper-button-prev {
    top: 20px;
    left: unset;
  }

  .swiper-button-next {
    bottom: 20px;
    top: unset;
  }

  .swiper {
    height: 100%;
  }

  .swiper-slide {
    width: 100% !important;
    max-height: 278px;

    .text-slide {

      // padding-top: 70px;
      p {
        font-family: $light;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
      }
    }
  }

  .desktop-vertical-slide {
    display: flex;
    justify-content: space-between;
    height: 100%;

    a {
      width: calc(50% - 16px);
      display: flex;
      flex-direction: column;
      font-family: $light;
      color: #000;

      .title {
        font-size: 29px;
        line-height: 30px;
        margin-bottom: 10px;
      }

      .subtitle {
        font-size: 18px;
        line-height: 17px;
        margin-bottom: 13px;
      }

      .image {
        width: 100%;
        height: 100%;
        // background: #D9D9D9;

        img {
          width: 100%;
        }
      }
    }
  }
}

.black-single-slider {
  height: 100%;
  position: relative;

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    transform: rotateZ(90deg);

    &::after {
      color: #fff;
    }
  }

  .swiper-button-next {
    bottom: -35px;
    top: unset;
    left: calc(50% - 13.5px);
  }

  .swiper-button-prev {
    bottom: unset;
    top: -10px;
    left: calc(50% - 13.5px);
  }

  .black-slider {
    height: 100%;

    .swiper-slide {
      // opacity: 0;
      transition: all .25s;
      width: auto;
    }

    .slide {
      height: 100%;

      a {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .title {
        font-size: 17px;
        line-height: 16px;
        font-family: $bold;
        color: #fff;
        margin-bottom: 14px;
      }

      .image {
        height: 100%;

        img {
          width: 100%;
        }
      }
    }
  }
}

.calendar-single-slider {

  .black-slider-next {
    left: unset;
    right: calc(115.5px - 13.5px);
    bottom: -45px;
  }

  .black-slider-prev {
    left: unset;
    right: calc(115.5px - 13.5px);
    top: -25px;
  }

  .swiper-slide {

    a {
      width: 100%;
      max-width: 231px;
      margin: 0 0 0 auto;
    }
  }
}

.horizontal-desktop-slider {
  height: 100%;
  width: 100%;
  padding: 0 33px;
  max-height: 900px;

  .swiper-wrapper {
    height: 100%;
    width: 100%;
  }

  .swiper-slide {
    width: 100%;
    height: fit-content;
  }
}

.single-page.desktop {
  .slide-right-gallery {
    .swiper-slide {
      max-height: 281px;
    }
  }
}

@media (min-width: 996px) {
  .primary-swiper-desktop {
    display: block;
  }

  .vertical-text-slider {
    &__slide {
      display: flex;
      flex-wrap: wrap;

      .date {
        font-family: $bold;
        font-size: 19px;
        line-height: 18px;
        margin-bottom: 8px;
      }

      .text {
        margin-top: 0;
        padding-left: 0;
      }

      .text-block {
        width: calc(50% - 10px);
        margin-bottom: 16px;

        &:nth-child(2n) {
          margin-left: 20px;
        }
      }

      p {
        color: #000;
      }
    }
  }

  .horizontal-desktop-slider {
    height: auto;

    .swiper-button-prev {
      left: -5px;
    }

    .swiper-button-next {
      right: -5px;
    }

    .swiper-slide {
      width: 35%;
    }
  }
}

@media(max-width: 996px) {
  .news {
    .news-wrapper {
      height: calc(100vh - 172px);
      padding-top: 120px;
      padding-bottom: 60px;

      .swiper-button-prev {
        top: 100px;
      }

      .swiper-button-next {
        bottom: 15px;
      }
    }
  }

  // .horizontal-desktop-slider {
  //   max-height: 550px;
  // }
}

@media (max-width: 1200px) {
  .slide-right-gallery {
    .swiper-slide {
      height: 230px;
    }
  }

  .single-page.desktop {
    .slide-right-gallery {
      .swiper-slide {
        max-height: 210px;
      }
    }
  }
}

@media (min-width: 1400px) {
  .slide-right-gallery {
    .swiper-slide {
      max-height: 325px;
    }
  }

  .slide-right-media-gallery {

    .swiper-slide {
      max-height: 304px !important;
    }
  }
}

@media (min-height: 915px) {
  #primarySwiperDesktop {
    .swiper-slide {
      .media-slide {
        .slide-left {
          .slide-name {
            right: 110px;
          }
        }
      }
    }
  }
}